apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  selector:
      matchLabels:
        app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: gcr.io/PROJECT_ID/IMAGE:TAG
        ports:
        - containerPort: 5000
        resources:
          requests:
            cpu: 100m
          limits:
            cpu: 100m
        env:
          - name: BUCKET_KEY
            valueFrom:
              secretKeyRef:
                name: env-vars
                key: bucket-key
          - name: IMAGE_BUCKET
            valueFrom:
              secretKeyRef:
                name: env-vars
                key: image-bucket
          - name: MYSQL_DATABASE
            valueFrom:
              secretKeyRef:
                name: env-vars
                key: mysql-db
          - name: MYSQL_PORT
            valueFrom:
              secretKeyRef:
                name: env-vars
                key: mysql-port
          - name: MYSQL_HOST
            valueFrom:
              secretKeyRef:
                name: env-vars
                key: mysql-host
          - name: MYSQL_PASSWORD
            value: zltKh0JemhDeMG2L
          - name: MYSQL_USER
            value: root
