name: Deploy
# This workflow is triggered on pushes to the repository.
on: [push]
    
defaults:
  run:
    working-directory: ./api

jobs:
 install:
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v2
   - uses: actions/setup-node@v1
     with:
       node-version: '12'
   - run: npm install
   - run: npm test
   # Setup gcloud CLI
   - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
     with:
        version: '290.0.1'
        service_account_key: ${{ secrets.GKE_SA_KEY }}
        project_id: ${{ secrets.GKE_PROJECT }}

   - name: Publish app to Google App Engine
     run: |
        gcloud -q app deploy app.yml --promote

        # Suppose you need a cron task.
        # gcloud -q app deploy cron.yaml

