name: Deploy
# This workflow is triggered on pushes to the repository.
on: 
 push:
   branches:
   - master
    
defaults:
    run:
      working-directory: ./api

jobs:
  build:
    
    # Job name is Greeting
    name: Deploy
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
     - name: Use Node.js 12.x
       uses: actions/setup-node@v1
       with:
         node-version: 12.x
     - name: Install
       working-directory: ./api
       run: npm install

